<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="update-app">
  <template>
    <style>
      :host {
        display: block;
      }
      div.container {
        text-align: center;
      }
      button {
          background-color: #3266cd;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          width: 40%;

      }
      input {
        background-color: #234790;
        border-color: : white;
        color: white;
        font-size: 18px;
        padding: 10px 25px;
        width: 30%;

      }
      label {
        border-color: : white;
        color: white;
        font-size: 22px;
          width: 40%;
      }
    </style>
    <div class="container">
      <h1>¡Bienvenido a tu Banco Móvil!</h1>
      <h2>{{name}}</h2><br><br><br>
      <label>[[error_M]]</label>
      <label for="pass">Contraseña:</label><br><input type="password" name="pass" value="{{password::input}}" placeholder="Contraseña"><br><br><br><br><br><br><br><br><br><br><br><br>
      <div>
        <button on-click="logout" type="button" value="logout">Cerrar sesión</button>
        <button on-click="reqUpdate" type="button" value="changePassword">Actualizar datos</button>
      </div>
    </div>
    <iron-ajax id="reqUpdate"
                 url="http://localhost:3001/authentication/V00"
                 method="PUT"
                 headers="{{getHeaders()}}"
                handle-as="text"
                body="[[data]]"
                content-type="application/json"
                on-response="resUpdate"
                on-error="errUpdate">
     </iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UpdateApp extends Polymer.Element {
      static get is() { return 'update-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'update-app'
          },
          name: {
            type: String
          },
          birthDate: {
            type: String
          },
          user: {
            type: String
          },
          email: {
            type: String
          },
          status: {
            type: String
          },
          error_M: {
            type: String
          },
          cardId: {
            type: String
          }
        };
      }

      reqUpdate(){
        console.log("reqUpdate()");
        var data = {
          password: this.password
        };
        console.log("reqUpdate(): " + data);

        this.$.reqUpdate.body = data;
  			this.$.reqUpdate.generateRequest();
      }
      resUpdate(data){
        console.log("resUpdate()");
  		  if(data.detail.status == 200){
  				console.log("OK RESPONSE");
          var valor=JSON.parse(data.detail.response);
          console.log("Usuario actualizado correctamente");
          //alert("Usuario actualizado correctamente");
          document.location.href="/login";
  			}
  		}
      errUpdate (event) {
        console.log(event.detail.request.status);
        //console.log("href /login");
        //document.location.href="/login";
      }
      getHeaders() {
        var token = sessionStorage.getItem('token');
        return {"Authorization": token};
      }
      changePassword(){
        console.log("href /changePassword");
        document.location.href="/changePassword";
      }
      logout(){
        sessionStorage.removeItem('token');
        sessionStorage.removeItem('name');
        sessionStorage.removeItem('user');
        sessionStorage.removeItem('birthDate');
        sessionStorage.removeItem('status');
        sessionStorage.removeItem('email');


        console.log("href /login");
        document.location.href="/login";
      }
      ready() {
        super.ready();
        this.addEventListener('loadPage', this._load);
        this.dispatchEvent(new CustomEvent('loadPage'));
      }
      _load(){
        console.log("_load()");
        if((typeof sessionStorage.getItem('token')) == "string"){
           var name = sessionStorage.getItem("name");
           var birthDate = sessionStorage.getItem("birthDate");
           var user = sessionStorage.getItem("user");
           var status = sessionStorage.getItem("status");
           var email = sessionStorage.getItem("email");


           this.name = name;
           this.birthDate = birthDate;
           this.user = user;
           this.status = status;
           this.email = email;

           console.log("Update data: name"+this.name +", bithDate: " + this.birthDate+", user: " + this.user+", status: " + this.status);
         }else{
           document.location.href="/login";
         }
       }
    }

    window.customElements.define(UpdateApp.is, UpdateApp);
  </script>
</dom-module>
