<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: block;
      }
      div.container {
        text-align: center;
      }
      button {
          background-color: #3266cd;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          width: 40%;

      }
      input {
        background-color: #234790;
        border-color: : white;
        color: white;
        font-size: 18px;
        padding: 10px 25px;
        width: 30%;

      }
      label {
        border-color: : white;
        color: white;
        font-size: 22px;
          width: 40%;
      }
    </style>


    <iron-ajax id="req"
                 url="http://localhost:3001/authentication/V00/validate"
                 method="POST"
                 headers='{"X-Requested-With": "XMLHttpRequest"}'
 								handle-as="text"
                body="[[data]]"
                content-type="application/json"
                on-response="res"
                on-error="err">
     </iron-ajax>

     <iron-ajax id="reqProfile"
                  url="http://localhost:3001/profile/V00"
                  method="GET"
  								handle-as="json"
                 on-response="resProfile"
                 on-error="errProfile">
      </iron-ajax>

    <br><br><br><br><br><br><br>
    <div class="container">
      <h2>¡Bienvenido a tu Banco Móvil!</h2>
    <br><br>

        <label for="celular">Celular</label><br>
        <input type="number" min="0000000000" max="9999999999" name="celular" value="{{user::input}}" placeholder="Número celular"><br>
        <label for="pass">Contraseña</label><br>
        <input type="password" name="pass" value="{{password::input}}" placeholder="Contraseña"><br><br><br><br>
        <label>[[error_M]]</label><br>
        <button  class="btn btn-primary dropdown-toggle" on-click="authenticate" type="button" value="login">Entrar</button><br><br><br>
        <button class="btn btn-success" on-click="register" type="button" value="register">Register</button>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-app'
          },
          error_M: {
            type: String
          }
        };
      }
      authenticate(){
        console.log("authenticate()");
        var data = {
          user: this.user,
          password: this.password
        };

        this.$.req.body = data;
  			this.$.req.generateRequest();
      }
      res(data){
        console.log("res() /login");
  		  if(data.detail.status == 200){
  				console.log("OK RESPONSE");
          var valor=JSON.parse(data.detail.response);
          sessionStorage.setItem('token',valor.token);
          this.$.reqProfile.headers = this.getHeaders();
          this.$.reqProfile.generateRequest();
  			}
  		}
      err (event) {
        console.log(event.detail.request.status);
        this.error_M = "Datos incorrectos";
        this.user = "";
        this.password = "";
      }
      resProfile(data){
        console.log("resProfile():" + data);
  		  if( data.detail.status == 200){

          sessionStorage.setItem('name',data.detail.response.name);
          sessionStorage.setItem('birthDate',data.detail.response.birthDate);
          sessionStorage.setItem('user',data.detail.response.user);
          sessionStorage.setItem('status',data.detail.response.status);
          sessionStorage.setItem('email',data.detail.response.email);

          console.log("href /profile");
          document.location.href="/profile";
  			}
  		}
      errProfile (event) {
        console.log(event.detail.request.status);
        this.error_M = "Ops, lo sentimos, sucedió algo inesperado.";
      }
      register(){
        document.location.href="/register";
      }
      getHeaders() {
       var token = sessionStorage.getItem('token');
       var headers = {};
       var header;
       //right here
       headers['Authorization'] = token;
       if (this.headers instanceof Object) {
         for (header in this.headers) {
           console.log(header + ":" + this.headers[header].toString());
           headers[header] = this.headers[header].toString();
         }
       }
       return headers;
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
