<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="profile-app">
  <template>
    <style>
      :host {
        display: block;
      }
      div.container {
        text-align: center;
      }
      button {
          background-color: #3266cd;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          width: 40%;

      }
      input {
        background-color: #234790;
        border-color: : white;
        color: white;
        font-size: 18px;
        padding: 10px 25px;
        width: 30%;

      }
      label {
        border-color: : white;
        color: white;
        font-size: 22px;
          width: 40%;
      }
    </style>
    <div class="container">

      <h2>¡Bienvenido a tu Banco Móvil!</h2>
      <h3>{{name}}</h3>
      <label>Correo electronico: {{email}}</label><br>
      <label>Fecha de nacimiento: {{birthDate}}</label><br><br><br>

      <label>[[error_M]]</label>

       <iron-ajax auto id="reqAccounts"
                    url="http://localhost:3001/accounts/V00"
                    method="GET"
                    headers="{{getHeaders()}}"
    								handle-as="json"
                   on-response="resAccounts"
                   on-error="errAccounts">
       </iron-ajax>
       <iron-ajax id="reqMovements"
                    url="http://localhost:3001/movements/V00?card={{cardId}}"
                    method="GET"
                    headers="{{getHeaders()}}"
    								handle-as="json"
                   on-response="resMovements"
                   on-error="errMovements">
        </iron-ajax>
        <iron-ajax id="reqAuthentication"
                     url="http://localhost:3001/authentication/V00"
                     method="PUT"
                     headers="{{getHeaders()}}"
     								handle-as="json"
                    on-response="reqAuthentication"
                    on-error="errAuthentication">
         </iron-ajax>

        <iron-list id="list" items="{{accounts}}" as="ac" selection-enabled>
          <template id="cuentas">
                <div class="cell">
                  <div >Tipo: {{ac.product}}</div>
                  <div class="primary">Cuenta: {{ac.accountId}}</div>
                  <div class="shortText">Saldo:  {{ac.currency}}$ {{ac.balance}}</div>
                  <div>
                    <button id="{{ac.cardId}}" on-click="reqMovements" value="{{ac.cardId}}">Ver movimientos</button>
                  </div>
                </div>
                <br>

          </template>
        </iron-list><br><br>

        <iron-list id="list" items="{{movements}}" as="movs" selection-enabled>
          <template id="movimientos">
                <div class="cell">
                  <div >Tipo: {{movs.concept}}</div>
                  <div class="primary">Cuenta: {{movs.description}}</div>
                  <div class="shortText">Saldo: $ {{movs.amount}}</div>
                </div>

          </template>
        </iron-list><br>
        <button class="footerBtn" on-click="logout" type="button" value="logout">Cerrar sesión</button>
        <button class="footerBtn" on-click="changePassword" type="button" value="changePassword">Cambiar contraseña</button>

      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ProfileApp extends Polymer.Element {
      static get is() { return 'profile-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'profile-app'
          },
          name: {
            type: String
          },
          birthDate: {
            type: String
          },
          user: {
            type: String
          },
          email: {
            type: String
          },
          status: {
            type: String
          },
          error_M: {
            type: String
          },
          cardId: {
            type: String
          }
        };
      }

      resAccounts(data){
        console.log("res() /accounts");

  		  if(data.detail.status == 200){
  				console.log("OK RESPONSE ACCOUNTS");
          this.accounts=data.detail.response;
          console.log(this.accounts);
  			}
  		}
      errAccounts (event) {
        console.log(event.detail.request.status);
        console.log("href /login");
        document.location.href="/login";
      }
      reqMovements(data){
        console.log("resMovements())");
        this.cardId = data.model.ac.cardId;
        //this.$.reqMovements.url = this.$.reqMovements.url + "?card=" +this.cardId;
        //this.$.reqMovements.url.replace("value" , this.cardId);
        console.log(this.$.reqMovements.url);
        this.$.reqMovements.generateRequest();
      }
      resMovements(data){
        console.log("resMovements()");
  		  if(data.detail.status == 200){
          this.movements=data.detail.response;
          console.log(this.movements);
  			}
  		}
      errMovements (event) {
        console.log(event.detail.request.status);
        this.error_M = "Ops, lo sentimos, sucedió algo inesperado." + event.detail.request.status;
        //console.log("href /login");
        //document.location.href="/login";
      }
      getHeaders() {
        var token = sessionStorage.getItem('token');
        return {"Authorization": token};
      }
      changePassword(){
        console.log("href /update");
        document.location.href="/update";
      }
      logout(){
        sessionStorage.removeItem('token');
        sessionStorage.removeItem('name');
        sessionStorage.removeItem('user');
        sessionStorage.removeItem('birthDate');
        sessionStorage.removeItem('status');
        sessionStorage.removeItem('email');


        console.log("href /login");
        document.location.href="/login";
      }
      ready() {
        super.ready();
        this.addEventListener('loadPage', this._load);
        this.dispatchEvent(new CustomEvent('loadPage'));
      }
      _load(){
        console.log("_load()");
        if((typeof sessionStorage.getItem('token')) == "string"){
           var name = sessionStorage.getItem("name");
           var birthDate = sessionStorage.getItem("birthDate");
           var user = sessionStorage.getItem("user");
           var status = sessionStorage.getItem("status");
           var email = sessionStorage.getItem("email");


           this.name = name;
           this.birthDate = birthDate;
           this.user = user;
           this.status = status;
           this.email = email;

           console.log("Profile data: name"+this.name +", bithDate: " + this.birthDate+", user: " + this.user+", status: " + this.status);
         }else{
           document.location.href="/login";
         }
       }
    }

    window.customElements.define(ProfileApp.is, ProfileApp);
  </script>
</dom-module>
