<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="register-app">
  <template>
    <style>
      :host {
        display: block;
      }
      div.container {
        text-align: center;
      }
      button {
          background-color: #3266cd;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          width: 40%;

      }
      input {
        background-color: #234790;
        border-color: : white;
        color: white;
        font-size: 18px;
        padding: 10px 5px;
        width: 43%;

      }
      label {
        border-color: : white;
        color: white;
        font-size: 22px;
      }
    </style>
    <br><br><br><br>
    <div class="container">
      <h2>¡Bienvenido a tu Banco Móvil!</h2>
    </div>
    <br><br>


    <iron-ajax id="reqRegister"
                 url="http://localhost:3001/authentication/V00"
                 method="POST"
                 headers='{"X-Requested-With": "XMLHttpRequest"}'
 								handle-as="text"
                body="[[data]]"
                content-type="application/json"
                on-response="resRegister"
                on-error="errRegister">
     </iron-ajax>

    <label>Ingresa los siguientes datos para tu registro:</label><br><br>
    <label for="celular">Celular:</label><input type="number" min="0000000000" max="9999999999" name="celular" value="{{user::input}}" placeholder="Número celular"><br>
    <label for="pass">Contraseña:</label><input type="password" name="pass" value="{{password::input}}" placeholder="Contraseña"><br>
    <label for="name">Nombre(s):</label><input type="text" name="name" value="{{name::input}}" placeholder="Juan Jose"><br>
    <label for="lastName">Apellido Materno:</label><input type="text" name="lastName" value="{{lastName::input}}" placeholder="Perez"><br>
    <label for="motherLastName">Apellido Paterno:</label><input type="text" name="motherLastName" value="{{motherLastName::input}}" placeholder="Lopez"><br>
    <label for="birthDate">Fecha de nacimiento:</label><input type="date" name="birthDate" value="{{birthDate::input}}" placeholder="DD/MM/AAAA"><br>
    <label for="email">Correo eléctronico:</label><input type="email" name="email" value="{{email::input}}" placeholder="example@server.com"><br><br>


    <label>[[error_M]]</label>
    <div class="container">
      <button on-click="reqRegister" type="button" value="register">Registrar</button>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegisterApp extends Polymer.Element {
      static get is() { return 'register-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'register-app'
          },
          error_M: {
            type: String
          }
        };
      }
      reqRegister(){
        console.log("reqRegister()");
        var data = {
          user: this.user,
          password: this.password,
          name: this.name,
          lastName: this.lastName,
          motherLastName: this.motherLastName,
          birthDate: this.birthDate,
          email: this.email
        };

        this.$.reqRegister.body = data;
  			this.$.reqRegister.generateRequest();
      }
      resRegister(data){
        console.log("reqRegister()");
  		  if(data.detail.status == 200){
  				console.log("OK RESPONSE");
          var valor=JSON.parse(data.detail.response);
          console.log("Usuario dado de alta correctamente");
          //alert("Usuario dado de alta correctamente");
          document.location.href="/login";
  			}
  		}
    }

    window.customElements.define(RegisterApp.is, RegisterApp);
  </script>
</dom-module>
