<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="nextgenapp-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Bienvenido a tu Banco Móvil [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NextgenappApp extends Polymer.Element {
      static get is() { return 'nextgenapp-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'nextgenapp-app'
          }
        };
      }
    }

    window.customElements.define(NextgenappApp.is, NextgenappApp);
  </script>
</dom-module>
