<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="accounts-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>¡Bienvenido a tu Banco Móvil!</h2>

    <iron-ajax auto id="req"
                 url="http://localhost:3001/accounts/V00"
                 method="GET"
                 headers="{{getHeaders()}}"
 								handle-as="json"
                on-response="res">
     </iron-ajax>

  <h1>Estas en ACCOUNTS</h1>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AccountsApp extends Polymer.Element {
      static get is() { return 'accounts-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'accounts-app'
          }
        };
      }

      res(data){
        console.log("res() /accounts");

  		  if(data.detail.status == 200){
  				console.log("OK RESPONSE");
          this.set('routeData',data.detail.response)
          document.location.href="/movements";
  			}else {
  				alert("Error en la autenticacion, nombre de usuario o contraseña incorrectos");
  			}
  		}
      getHeaders() {
      var token = sessionStorage.getItem('token');
      return {"Authorization": token};
      }
    }

    window.customElements.define(AccountsApp.is, AccountsApp);
  </script>
</dom-module>
